In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data.csv')

In [5]:
promedio_edad=df ['Age'].mean()
promedio_edad

16.468645484949832

In [6]:
valores_nulos_por_columna=df.isnull().sum()
valores_nulos_por_columna

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [7]:
genero_mas_repetido=df ['Gender'].mode()
genero_mas_repetido

0    1
Name: Gender, dtype: int64

In [8]:
hombres=(df ['Gender']==0).sum()
hombres

1170

In [10]:
mujeres=(df ['Gender']==1).sum()
mujeres

1222

In [11]:
deportes=(df ['Sports']==1).sum()
deportes

726

In [17]:
deporte_genero=df.groupby('Gender')['Sports'].sum()
deporte_genero

Gender
0    360
1    366
Name: Sports, dtype: int64

In [19]:
tutorias=(df ['Tutoring']==1).sum()
tutorias

721

In [20]:
tutorias_genero=df.groupby('Gender') ['Tutoring'].sum()
tutorias_genero

Gender
0    370
1    351
Name: Tutoring, dtype: int64

In [22]:
tiempo_estudio=df ['StudyTimeWeekly'].min()
tiempo_estudio

0.001056538645936

In [24]:
tiempo_estudio=df ['StudyTimeWeekly'].max()
tiempo_estudio

19.97809399526153